* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    height: 12vh;
    padding-top: .5em;
    display: flex;
    background-color: #845EC2;
    position: fixed;
    width: 100%;
    box-shadow: 0px 0px 2px 3px #888888;
    z-index: 1;
}

nav {
    display: none;
}

.mobile-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    width: 95%;
}

.nav-item {
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    text-decoration: none;
    font-size: 1em;
}

.nav-item::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #fff;
    transition: width .3s;
}

.nav-item:hover::after {
    width: 100%;
}


.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    padding-top: 5em;
}

p {
    font-size: 16px;
}

h3 {
    font-size: 20px;
}

h4 {
    color: #6e6e6e;
}

h5 {
    font-size: 12px;
    text-align: center;
}

.container {
    padding: 1em;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.title {
    text-align: center;
    font-size: 28px;
    margin-bottom: 0;
    text-transform: uppercase;
}

.role {
    display: flex;
    flex-direction: column;
    width: 80%;
    border-radius: 6px;
    padding: 1.2em;
    margin-bottom: 1em;
    box-shadow: 0 0 10px 0px #bfbebe;
    
}

.role-head {
    height: 35vh;
    margin-bottom: 1em;
}

.role-img {
    width: 25%;
    display: block;
    margin: auto;
    filter: drop-shadow(3px 4px 1px #bbab90);
    box-shadow: inset 0px 0px 4px 2px #9f9dff;
    padding: .8em;
    border-radius: 12px;
    background-color: #9f9dff26;
}

.nav-img {
    width: 55%;
    filter: drop-shadow(0px 0px 0px #bbab90);
    padding: .3em;
    box-shadow: inset 0px 0px 2px 1px #9f9dff;
    border-radius: 6px;
}

.role-img:hover {
    transform: rotateY(360deg);
    transition: 1.1s ease-in;
}

.role-link {
    text-decoration: none;
}

.role-title:hover {
    background-color: #E8D5B5;
    transition: .6s ease-in-out;
}

.role-title {
    margin-top: 1em;
    text-align: center;
    padding: .7em;
    border-radius: 4px;
    margin-bottom: 1em;
    box-shadow: 0px 0px 4px 2px #dad6bf;
    background-color: #9F9DFF;
    text-transform: uppercase;
    letter-spacing: .5pt;
}

.role-desc {
    margin-bottom: .5em;
}


/* =========== funciones en detalle =========== */

.role-t {
    width: 90%;
    text-align: center;
}

.function {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
    margin-bottom: 1em;
    box-shadow: inset 0px -2px 4px 2px #9f9dff;
    padding: 2em .8em 1em .8em;
}

.function-title {
    background-color: #9f9dff;
    border: 8px solid #9f9dff;
    box-shadow: 0px -1px 3px 2px #9f9dff;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: .3em;
    width: 90%;
    margin: auto;
    text-transform: uppercase;
}

.fn-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}


.fn-left img {
    width: 100%;
    display: block;
}

.fn-left-tools {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fn-left-tools img {
    display: block;
    margin: auto;
    
}

.fn-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.fn-right p {
    text-align: justify;
}

small {
    font-size: .6em;
    margin-bottom: 3em;
}

.purple {
    color: #9F9DFF;
}

.dk-purple {
    color: #575491;
}

.light {
    color: #fffade85;
}

.wh {
    color: white;
}

.bkg-purple {
    background-color: #9F9DFF;
}

.bkg-dk-purple {
    background-color: #575491;
}

.bkg-light {
    background-color: #fffade85;
}

.bkg-wh {
    background-color: white;
}

.soon-text {
    margin-top: 10em;
    text-align: center;
    font-size: 1em;
    height: 25vh;
}

.soon-text a {
    text-decoration: none;
    text-transform: uppercase;
}

footer {
    height: 5vh;
    margin-top: 1em;
}

/* media queries */
@media only screen and (min-width: 374px) {
   
    nav {
        width: 90%;
    }

}

@media only screen and (min-width: 426px) {


    .mobile-nav {
        width: 60%;
    }

    .role-head {
        height: 45vh;
    }
}

@media only screen and (min-width: 769px) {
    header {
        height: 10vh;
        padding-top: 0em;
    }
    
    nav {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: auto;
        width: 70%;
        margin-left: 30%;
    }

    .mobile-nav {
        display: none;
    }

    .card-container {
        flex-direction: row;
        height: 105vh;
    }

    .role {
        width: 28%;
        margin: auto;
        height: 95vh;
    }

    .role-t {
        text-align: left;
    }

    .two {
        height: 90vh;
    }

    .role-head {
        height: 35vh;
    }

    .function {
        flex-direction: row;
    }
    
    .fn-left {
        width: 40%;
        margin: auto;
        margin-top: 0;
    }

    .fn-right {
        width: 50%;
        margin: auto;
        align-self: flex-start;
        margin-top: 1em;
        margin-bottom: 1em;
    }
}

@media only screen and (min-width: 1025px) {
    .card-container {
        height: 120vh;
    }
    
    .role {
        width: 28%;
        margin: auto;
        height: 110vh;
    }

    .two {
        height: 105vh;
    }

    .role-title {
        font-size: 22px;
    }

    .role-desc {
        font-size: 18px;
    }
}

@media only screen and (min-width: 1332px) {
    .card-container {
        height: 130vh;
    }
    .role {
        height: 115vh;
    }
   
}