<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="../styles.css">
    <title>BI Consultant - Roles en Datos</title>
</head>
<body>
    <header class="bkg-dk-purple">
        <nav>
            <a class="nav-item" href="../index.html">Inicio</a>
            <a class="nav-item" href="data_eng.html">D. Engineer</a>
            <a class="nav-item" href="data_sc.html">D. Scientist</a>
            <a class="nav-item" href="data_an.html">D. Analyst</a>
            <a class="nav-item" href="data_arc.html">D. Architect</a>
            <a class="nav-item" href="data_adm.html">DB Admin</a>
            <a class="nav-item" href="data_bi.html">BI Consultant</a>
        </nav>
        <nav class="mobile-nav">
            <a class="nav-item" href="../index.html">
                <img class="nav-img" src="../img/home.svg" alt="">
            </a>
            <a class="nav-item" href="data_eng.html">
                <img class="nav-img" src="../img/tecnologia.svg" alt="">
            </a>
            <a class="nav-item" href="data_sc.html">
                <img class="nav-img" src="../img/cientifico-de-datos.svg" alt="">
            </a>
            <a class="nav-item" href="data_an.html">
                <img class="nav-img" src="../img/analista-de-datos.svg" alt="">
            </a>
            <a class="nav-item" href="data_arc.html">
                <img class="nav-img" src="../img/arquitecto-de-datos.svg" alt="">
            </a>
            <a class="nav-item" href="data_adm.html">
                <img class="nav-img" src="../img/base-de-datos.svg" alt="">
            </a>
            <a class="nav-item" href="data_bi.html">
                <img class="nav-img" src="../img/inteligencia.svg" alt="">
            </a>
        </nav>
    </header>
    <div class="container">
        <div class="title-container">
            <h1 class="role-title role-t wh">BI Consultant</h1>
        </div>
       <h2 class="soon-text">¡Pronto subiré contenido! Podés volver por <a href="../index.html">aquí</a>.</h2> 
    </div>
    <footer>
        <h5 class="dk-purple">By María Noelia Avalos - 2021</h5>
        <!-- <h5 class="dk-purple">ln:/m-noelia-avalos</h5> -->
    </footer>
</body>
</html>