<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="../styles.css">
    <title>D. Analyst - Roles en Datos</title>
</head>
<body>
    <header>
        <nav>
            <a class="nav-item" href="../index.html">Inicio</a>
            <a class="nav-item" href="data_eng.html">D. Engineer</a>
            <a class="nav-item" href="data_sc.html">D. Scientist</a>
            <a class="nav-item" href="data_an.html">D. Analyst</a>
            <a class="nav-item" href="data_arc.html">D. Architect</a>
            <a class="nav-item" href="data_adm.html">DB Admin</a>
            <a class="nav-item" href="data_bi.html">BI Consultant</a>
        </nav>
        <nav class="mobile-nav">
            <a class="nav-item" href="../index.html">HOME</a>
            <a class="nav-item" href="data_eng.html">DE</a>
            <a class="nav-item" href="data_sc.html">DS</a>
            <a class="nav-item" href="data_an.html">DA</a>
            <a class="nav-item" href="data_arc.html">DAr</a>
            <a class="nav-item" href="data_adm.html">DBA</a>
            <a class="nav-item" href="data_bi.html">BIC</a>
        </nav>
    </header>
    <div class="container">
        <div class="title-container">
            <h1 class="role-title bkg-dk-purple light">Data Analyst</h1>
        </div>
       <h2 class="soon-text">¡Pronto subiré contenido! Podés volver por <a href="../index.html">aquí</a>.</h2> 
    </div>
    <footer>
        <h5 class="dk-purple">By María Noelia Avalos - 2021</h5>
        <!-- <h5 class="dk-purple">ln:/m-noelia-avalos</h5> -->
    </footer>
</body>
</html>