<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <!-- FAVICON -->
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon.png">
    <!-- ESTILOS -->
    <link rel="stylesheet" href="../styles.css">
    <title>D. Architect - Roles en Datos</title>
</head>
<body>
    <header class="bkg-dk-purple">
        <nav>
            <a class="nav-item" href="../index.html">Inicio</a>
            <a class="nav-item" href="data_eng.html">D. Engineer</a>
            <a class="nav-item" href="data_sc.html">D. Scientist</a>
            <a class="nav-item" href="data_an.html">D. Analyst</a>
            <a class="nav-item" href="data_arc.html">D. Architect</a>
            <a class="nav-item" href="data_adm.html">DB Admin</a>
            <a class="nav-item" href="data_bi.html">BI Consultant</a>
        </nav>
        <nav class="mobile-nav">
            <a class="nav-item" href="../index.html">
                <img class="nav-img" src="../img/home.svg" alt="">
            </a>
            <a class="nav-item" href="data_eng.html">
                <img class="nav-img" src="../img/tecnologia.svg" alt="">
            </a>
            <a class="nav-item" href="data_sc.html">
                <img class="nav-img" src="../img/cientifico-de-datos.svg" alt="">
            </a>
            <a class="nav-item" href="data_an.html">
                <img class="nav-img" src="../img/analista-de-datos.svg" alt="">
            </a>
            <a class="nav-item" href="data_arc.html">
                <img class="nav-img" src="../img/arquitecto-de-datos.svg" alt="">
            </a>
            <a class="nav-item" href="data_adm.html">
                <img class="nav-img" src="../img/base-de-datos.svg" alt="">
            </a>
            <a class="nav-item" href="data_bi.html">
                <img class="nav-img" src="../img/inteligencia.svg" alt="">
            </a>
        </nav>
    </header>
    <div class="container">
        <div class="title-container">
            <h1 class="role-title role-t wh">Data Architect</h1>
        </div>
        <div class="btn-up-container" >
            <a class="btn-up-link" href="#page-title">
                <button class="btn-up bkg-dk-purple wh">
                    Arriba
                </button>
            </a>
        </div>
        <div class="container">
            <h3 class="function-title">Diseña</h3>
            <div class="function">
                <div class="fn-left">
                    <img src="../img/generic_data_platform.png" alt="">
                    <small>Diseño de arquitectura de datos</small>
                    <div class="fn-left-tools">
                        <!-- <img src="../img/hadoop_pipeline.jpg" alt="">
                        <small>Hadoop Data pipeline.</small> -->
                    </div>
                </div>
                <div class="fn-right">
                    <p>El Data Architect tiene una <strong>visión</strong> de un extremo a otro y observa cómo un 
                        diseño lógico se traducirá en una o más bases de datos físicas, y cómo fluirán los 
                        datos a través de las sucesivas etapas involucradas. Él (o ella) puede abordar 
                        los problemas de la migración de datos (validación, limpieza y mapeo) y  
                        comprende la importancia de los diccionarios de datos.
                    </p>
                    <p><strong>Lidera</strong> la gobernanza y la estrategia de datos, el modelado de datos, las 
                        soluciones de arquitectura de 
                        datos para integraciones, migraciones, análisis, desarrollo de aplicaciones y calidad de datos, y 
                        colabora con otros profesionales de datos, expertos en datos comerciales, analistas de datos, analistas 
                        comerciales y de software, desarrolladores y arquitectos técnicos.
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            <h3 class="function-title">Optimiza</h3>
            <div class="function">
                <div class="fn-left">
                    <img src="https://www.graymatter.co.in/wp-content/uploads/2017/09/RTA_Architecture.png" alt="">
                    <small>Arquitectura de análisis en tiempo real</small>
                    <div class="fn-left-tools">
                        <!-- <img src="../img/hadoop_pipeline.jpg" alt="">
                        <small>Hadoop Data pipeline.</small> -->
                    </div>
                </div>
                <div class="fn-right">
                    <p>La arquitectura de datos moderna debe <strong>escalar</strong> para admitir volúmenes de 
                        datos masivos y procesamiento 
                        de alto rendimiento. Debe ser adaptable y resistente a los cambios en los datos, la tecnología y 
                        las necesidades de los consumidores. Debe respaldar el descubrimiento del conocimiento de los datos, 
                        que es esencial para que los consumidores encuentren y comprendan los datos que necesitan. Debe 
                        admitir todas las velocidades de datos, desde el procesamiento de secuencias hasta ETL por lotes. 
                        Debe admitir todas las variedades de datos, desde relacionales hasta las muchas variaciones de no 
                        estructurados y semiestructurados. Debe proporcionar acceso a los datos para todos los consumidores 
                        de datos y, al mismo tiempo, proteger los datos confidenciales.
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            <h3 class="function-title">Desarrolla</h3>
            <div class="function">
                <div class="fn-left">
                    <img src="https://www.alation.com/wp-content/uploads/Modern-Data-Architecture.png" alt="">
                    <small>Arquitectura de análisis en tiempo real</small>
                    <div class="fn-left-tools">
                        <!-- <img src="../img/hadoop_pipeline.jpg" alt="">
                        <small>Hadoop Data pipeline.</small> -->
                    </div>
                </div>
                <div class="fn-right">
                    <p>La Data Architect también se ocupa de <strong>decisiones</strong> tales como qué plataforma se 
                        basa mejor en los objetivos 
                        comerciales: migrar a una solución basada en la nube o no, riesgos de seguridad con decisiones de 
                        productos, y opciones como el uso de grafos o bases de datos relacionales.
                    </p>
                    <p>El fin de una buena arquitectura de datos es unir los aspectos comerciales y tecnológicos de las empresas 
                        para <strong>garantizar</strong> que trabajen con un propósito común. Para ser de valor, 
                        la información debe tener un alto impacto comercial.
                    </p>
                    <p>Los arquitectos de datos se preocupan por los datos estructurados y los aspectos técnicos de las 
                        aplicaciones y el diseño de bases de datos. <strong>Brindan soluciones</strong> y enfoques para 
                        cumplir con los requisitos 
                        proyectados de escalabilidad, confiabilidad y mantenibilidad, entendiendo la tecnología relevante y el 
                        impacto de la selección de tecnología con las prácticas de diseño actuales.
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            <h3 class="function-title">Testea</h3>
            <div class="function">
                <div class="fn-left">
                    <img src="https://1amiydhcmj36tz3733v94f15-wpengine.netdna-ssl.com/wp-content/uploads/2020/04/image4-1536x641.png" alt="">
                    <small>Arquitectura de análisis en tiempo real</small>
                    <div class="fn-left-tools">
                        <!-- <h4>Herramientas</h4> -->
                        <img src="../img/data_arch_aws.png" alt="">
                        <small>Arquitectura de Datos AWS.</small>
                        <!-- <img src="../img/hadoop_pipeline.jpg" alt="">
                        <small>Hadoop Data pipeline.</small> -->
                    </div>
                </div>
                <div class="fn-right">
                    <p>Al probar Big Data, el área principal en la que enfocarse es la arquitectura de los sistemas. Una arquitectura 
                        de sistema mal diseñada presentará muchos problemas para las aplicaciones de Big Data, relacionados con el 
                        rendimiento y la funcionalidad. Las pruebas de Big Data implican la <strong>validación</strong> de valores 
                        de datos estructurados 
                        y no estructurados, tener un entorno de prueba óptimo, tratar con bases de datos no relacionales y realizar 
                        pruebas no funcionales. El incumplimiento de cualquiera de los anteriores dará como resultado una mala 
                        calidad de los datos y un alto costo de volver a probar los datos.
                    </p>
                    <p>Las pruebas de arquitectura se refieren a las <strong>pruebas del diseño</strong> del sistema, en otras palabras, 
                        a un plan de 
                        cómo se implementará. En una unidad de desarrollo basada en pruebas, se realizan pruebas, pruebas de aceptación 
                        y pruebas de integración para las pruebas de arquitectura de un sistema. La calidad arquitectónica involucra 
                        las cualidades internas del sistema y proporciona una gestión del código de calidad. Los <strong>casos de 
                            prueba</strong> y 
                        los datos de prueba deben crearse de acuerdo con la arquitectura, el diseño y el flujo de trabajo. Además, 
                        la partición 
                        de clases de equivalencia se puede usar para dividir los datos de prueba en grupos significativos para verificar 
                        la funcionalidad y el rendimiento de la aplicación.
                    </p>
                    <p>Las pruebas de arquitectura deben guiarse por la definición de la arquitectura del sistema, que se realiza 
                        mediante el uso de lenguajes de especificación y técnicas de análisis. Alimentar los datos de las aplicaciones 
                        en la forma y el factor correctos es esencial para que se procesen y visualicen de manera eficiente; de ​​lo 
                        contrario, las capacidades de toma de decisiones de la aplicación se verán afectadas.
                    </p>

                </div>
            </div>
        </div>
    </div>
    <div class="btn-cont">
        <a href="#">
            <button class="btn-how wh bkg-dk-purple">QUIERO SER DATA ARCHITECT</button>
        </a>
    </div>
    <footer>
        <h5 class="dk-purple">By María Noelia Avalos, Data Analyst - 2021</h5>
        <!-- <h5 class="dk-purple">ln:/m-noelia-avalos</h5> -->
    </footer>
</body>
</html>