<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <!-- FAVICON -->
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon.png">
    <!-- ESTILOS -->
    <link rel="stylesheet" href="../styles.css">
    <title>D. Scientist - Roles en Datos</title>
</head>
<body>
    <header class="bkg-dk-purple">
        <nav>
            <a class="nav-item" href="../index.html">Inicio</a>
            <a class="nav-item" href="data_eng.html">D. Engineer</a>
            <a class="nav-item" href="data_sc.html">D. Scientist</a>
            <a class="nav-item" href="data_an.html">D. Analyst</a>
            <a class="nav-item" href="data_arc.html">D. Architect</a>
            <a class="nav-item" href="data_adm.html">DB Admin</a>
            <a class="nav-item" href="data_bi.html">BI Consultant</a>
        </nav>
        <nav class="mobile-nav">
            <a class="nav-item" href="../index.html">
                <img class="nav-img" src="../img/home.svg" alt="">
            </a>
            <a class="nav-item" href="data_eng.html">
                <img class="nav-img" src="../img/tecnologia.svg" alt="">
            </a>
            <a class="nav-item" href="data_sc.html">
                <img class="nav-img" src="../img/cientifico-de-datos.svg" alt="">
            </a>
            <a class="nav-item" href="data_an.html">
                <img class="nav-img" src="../img/analista-de-datos.svg" alt="">
            </a>
            <a class="nav-item" href="data_arc.html">
                <img class="nav-img" src="../img/arquitecto-de-datos.svg" alt="">
            </a>
            <a class="nav-item" href="data_adm.html">
                <img class="nav-img" src="../img/base-de-datos.svg" alt="">
            </a>
            <a class="nav-item" href="data_bi.html">
                <img class="nav-img" src="../img/inteligencia.svg" alt="">
            </a>
        </nav>
    </header>
    <div class="container">
        <div class="title-container" id="page-title">
            <h1 class="role-title role-t">Data Scientist</h1>
        </div>
        <div class="btn-up-container" >
            <a class="btn-up-link" href="#page-title">
                <button class="btn-up bkg-dk-purple wh">
                    Arriba
                </button>
            </a>
        </div>
        <div class="container">
            <h3 class="function-title">Limpieza y procesamiento</h3>
            <div class="function">
                <div class="fn-left">
                    <img style="margin-top: 1em;" src="../img/data_prep.jpg" alt="">
                    <small>Preparación de datos</small>
                </div>
                <div class="fn-right">
                    <p>
                        Una Data Scientist limpia los datos para un análisis adecuado y crea nuevos 
                        algoritmos para ejecutar consultas que relacionan datos de fuentes dispares.
                    </p>
                    <p>
                        La <strong>manipulación de datos</strong> es el proceso de limpieza, reestructuración y enriquecimiento 
                        de datos sin procesar para que sean analizables. El objetivo principal de la 
                        manipulación de datos es revelar una "inteligencia más profunda" mediante la 
                        recopilación de datos de múltiples fuentes y la organización de los datos para un 
                        análisis más amplio.
                    </p>
                    <p>
                        El ciclo de <strong>procesamiento de datos</strong> se refiere al conjunto de operaciones que se 
                        utilizan para transformar los datos en información útil. En esta etapa, los datos 
                        se ingresan en un sistema, un CRM o un DW para que se pueda establecer 
                        un ciclo de procesamiento de datos. 
                        Este proceso se implementa como un modelo de datos repetible para 
                        permitir proyectos de análisis de datos a largo plazo.
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            <h3 class="function-title">Crea modelos</h3>
            <div class="function">
                <div class="fn-left">
                    <img  src="../img/data_model.png" alt="">
                    <small>Funciones de BI</small>
                </div>
                <div class="fn-right">
                    <p>
                        Los científicos de datos deben tener en sólidas habilidades de programación, así 
                        como conocimientos sobre estadística, probabilidades y matemáticas para comprender 
                        los datos, elegir el enfoque de solución correcto, implementar la solución y mejorarla 
                        también. 
                    </p>
                    <p>
                        El <strong>modelado de datos</strong> representa la forma en que los datos fluyen a través de una 
                        aplicación de software o la arquitectura de datos dentro de una empresa. Es casi como 
                        un plano que establece relaciones entre diferentes entidades comerciales para mostrar 
                        cómo se recopilan y almacenan los datos.
                    </p>
                    <p>
                        Conceptos y técnicas de <strong>aprendizaje automático</strong> como redes neuronales, aprendizaje 
                        reforzado, aprendizaje automático supervisado, árboles de decisión y regresión logística.
                         Estos son los tipos de habilidades que permiten a los científicos de datos resolver 
                         problemas empresariales u organizativos.
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            <h3 class="function-title">Desarrolla</h3>
            <div class="function">
                <div class="fn-left">
                    <img style="margin-top: 1em;" src="https://2s7gjr373w3x22jf92z99mgm5w-wpengine.netdna-ssl.com/wp-content/uploads/2018/09/data_science_shutterstock_shutterstock_Trueffelpix.jpg" alt="">
                    <small>Funciones de BI</small>
                </div>
                <div class="fn-right">
                    <p>
                        Un Data Scientist personaliza el enfoque y la solución al problema específico en 
                        cuestión para <strong>maximizar los resultados</strong>, incluida la capacidad de escribir nuevos 
                        algoritmos y/o modificar significativamente los existentes, según sea necesario.
                    </p>
                    <p>
                        También aseguran que los datos tengan alta integridad (buenos datos), calidad 
                        (los datos correctos) y estén en forma y condición óptimas para garantizar 
                        resultados precisos, confiables y estadísticamente significativos.
                    </p>
                    <p>
                        En ciencia de datos, una imagen vale un millón de conjuntos de números, por lo 
                        que los científicos de datos necesitan experiencia trabajando con herramientas 
                        de visualización de datos como ggplot, Matplotlib y Tableau.
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            <h3 class="function-title">Testea</h3>
            <div class="function">
                <div class="fn-left">
                    <img style="width: 80%; margin-top: 1em;" src="../img/ml_test.jpg" alt="">
                    <small>Funciones de BI</small>
                </div>
                <div class="fn-right">
                    <p>
                        Una Data Scientist descubre formas de aprovechar los datos para lograr los 
                        objetivos comerciales sin orientación externa y/o entregables dictados de arriba 
                        hacia abajo.
                    </p>
                    <p>
                        La ciencia de datos entra en juego cuando hay sistemas complejos que generan 
                        una gran cantidad de datos que deben aprovecharse. Eso significa más que solo 
                        analizar los datos. Significa construir modelos utilizando intrincados algoritmos 
                        para explicar o predecir el comportamiento. Estos modelos deben ser comprobables 
                        y aquí es donde entra el proceso científico.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="btn-cont">
        <a href="#">
            <button class="btn-how wh bkg-dk-purple">QUIERO SER DATA SCIENTIST</button>
        </a>
    </div>
    <footer>
        <h5 class="dk-purple">By María Noelia Avalos, Data Analyst - 2021</h5>
        <!-- <h5 class="dk-purple">ln:/m-noelia-avalos</h5> -->
    </footer>
</body>
</html>