<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <!-- FAVICON -->
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon.png">
    <!-- ESTILOS -->
    <link rel="stylesheet" href="../styles.css">
    <title>DBA - Roles en Datos</title>
</head>
<body>
    <header class="bkg-dk-purple">
        <nav>
            <a class="nav-item" href="../index.html">Inicio</a>
            <a class="nav-item" href="data_eng.html">D. Engineer</a>
            <a class="nav-item" href="data_sc.html">D. Scientist</a>
            <a class="nav-item" href="data_an.html">D. Analyst</a>
            <a class="nav-item" href="data_arc.html">D. Architect</a>
            <a class="nav-item" href="data_adm.html">DB Admin</a>
            <a class="nav-item" href="data_bi.html">BI Consultant</a>
        </nav>
        <nav class="mobile-nav">
            <a class="nav-item" href="../index.html">
                <img class="nav-img" src="../img/home.svg" alt="">
            </a>
            <a class="nav-item" href="data_eng.html">
                <img class="nav-img" src="../img/tecnologia.svg" alt="">
            </a>
            <a class="nav-item" href="data_sc.html">
                <img class="nav-img" src="../img/cientifico-de-datos.svg" alt="">
            </a>
            <a class="nav-item" href="data_an.html">
                <img class="nav-img" src="../img/analista-de-datos.svg" alt="">
            </a>
            <a class="nav-item" href="data_arc.html">
                <img class="nav-img" src="../img/arquitecto-de-datos.svg" alt="">
            </a>
            <a class="nav-item" href="data_adm.html">
                <img class="nav-img" src="../img/base-de-datos.svg" alt="">
            </a>
            <a class="nav-item" href="data_bi.html">
                <img class="nav-img" src="../img/inteligencia.svg" alt="">
            </a>
        </nav>
    </header>
    <div class="container">
        <div class="title-container" id="page-title">
            <a class="role-title-link" href="">
                <h1 class="role-t" id="role-t">DB Admin</h1>
            </a>
        </div> 
        <div class="btn-up-container" >
            <a class="btn-up-link" href="#page-title">
                <button class="btn-up bkg-dk-purple wh">
                    Arriba
                </button>
            </a>
        </div>
        <div class="container">
            <h3 class="function-title">Gestiona</h3>
            <div class="function">
                <div class="fn-left">
                    <img src="../img/dba.jpg" alt="">
                    <small>
                        <a style="text-decoration: none; color:black" href="http://www.myreadingroom.co.in/notes-and-studymaterial/65-dbms/570-summary-of-dba-activities.html">(Fuente)</a>
                    </small>
                    <div class="fn-left-tools">
                        <img style="width: 80%;" src="https://miro.medium.com/max/597/1*yVGOe8wj3DGrxud5DzX51A.png" alt="">
                        <small>Database Management System</small>
                    </div>
                </div>
                <div class="fn-right">
                    <p>Una DBA (Database Administrator) es la profesional a cargo de todas las 
                        funciones involucradas en el desarrollo, almacenamiento, seguridad y recuperación de bases de datos. 
                        Trabaja con software de sistemas de gestión de bases de datos y determina formas de organizar 
                        y almacenar datos.
                    </p>
                    <p>Un DBA se centra en los aspectos físicos y técnicos de la <strong>gestión de bases de datos</strong> que mantienen los 
                        sistemas funcionando sin problemas, de forma eficiente y sin errores. Se encarga de asegurar de 
                         que los datos estén seguros y evitar la pérdida de datos. También trata con la actualización de 
                         permisos y la instalación de actualizaciones y parches para corregir errores del programa de software. 
                    </p>
                    <p>
                        Los DBA pueden ser responsables de varias aplicaciones en diferentes sistemas, fusionando bases de 
                        datos antiguas en nuevas bases de datos y realizando y probando modificaciones en las estructuras de 
                        la base de datos cuando sea necesario.
                    </p>
                    <p>
                        Una DBA trabaja con <strong>DBMS</strong> (DataBase Management System). El software DBMS funciona como una interfaz 
                        entre el usuario y la base de datos, administrando simultáneamente los datos, el motor de la base 
                        de datos y el esquema de la base de datos para facilitar la organización y manipulación de los datos.
                    </p>
                    <p>Un sistema de administración de base de datos (DBMS) funciona mediante el uso de comandos del sistema, 
                        primero recibe instrucciones de un DBA en DBMS y luego instruye al sistema en consecuencia, ya sea 
                        para recuperar datos, modificar datos o cargar datos existentes del sistema. Los ejemplos más populares 
                        de DBMS incluyen sistemas de administración de bases de datos basados ​​en la nube, sistemas de 
                        administración de bases de datos en memoria (IMDBMS), sistemas de administración de bases de datos 
                        en columnas (CDBMS) y NoSQL en DBMS.

                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            <h3 class="function-title">Garantiza</h3>
            <div class="function">
                <div class="fn-left">
                    <img style="width: 70%;" src="../img/data_integrity.jpg" alt="">
                    <small>
                        Integridad de datos
                    </small>
                </div>
                <div class="fn-right">
                    <p>La primera responsabilidad es mantener la <strong>integridad de los datos</strong> de la empresa, porque incluso si 
                        una base de datos es rápida y accesible, es inútil si los datos a los que se accede están distorsionados. 
                        La integridad de los datos debe gestionarse con precisión porque se trata de proteger los datos 
                        del uso no autorizado. Un DBA administra la relación entre los datos para mantener la coherencia de los mismos.
                    </p>
                    <p>
                        La estructura interna de una base de datos consta de datos almacenados en tablas. El acceso a los datos 
                        se puede <strong>optimizar</strong> mediante el uso de índices, que se leen como el índice de un libro. Los DBA ayudan a 
                        garantizar que la base de datos esté optimizada para aprovechar el hardware físico o virtual en el que está 
                        alojada. Esto significa que es necesario poder dividir los datos en diferentes discos, configurar la base de 
                        datos para utilizar mejor la memoria o la RAM y optimizar el tráfico de red de las bases de datos remotas. 
                        Algunas bases de datos incluso se dividen entre varios servidores en las llamadas "configuraciones distribuidas". 
                        Algunas bases de datos pueden volverse tan complejas que necesitan un DBA que se centre únicamente en la mejora 
                        del rendimiento.
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            <h3 class="function-title">Garantiza</h3>
            <div class="function">
                <div class="fn-left">
                    <img src="../img/dba_backup.jpg" alt="">
                    <small>
                        Escenario de restauración de base de datos.
                    </small>
                </div>
                <div class="fn-right">
                    <p>Se concentra en <strong>monitorear y mantener</strong> un alto nivel de rendimiento del sistema. Los administradores 
                        de base de datos son responsables de realizar copias de seguridad periódicas del sistema para que no se 
                        pierdan datos durante un corte de energía u otro tipo de desastre. También trabajan para asegurarse de 
                        que los datos que se capturan sean confiables, estén libres de errores y estén disponibles en cualquier momento.
                    </p>
                    <p>
                        El DBA tiene que decidir qué datos se deben utilizar y qué tipo de datos son precisos para la empresa, de
                        acuerto a las reglas y las necesidades del negocio. Por lo tanto, siempre realiza <strong>controles de validación</strong> 
                        en los datos para que sean más precisos y consistentes.
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            <h3 class="function-title">Da soporte</h3>
            <div class="function">
                <div class="fn-left">
                    <div class="fn-left-tools">
                        <img src="../img/permisos_dba.png" alt="">
                        <small>Esquema de asignación de permisos</small>
                    </div>
                </div>
                <div class="fn-right">
                    <p>La DBA crea subesquemas para decidir sobre la <strong>accesibilidad de la base de datos</strong>. De acuerdo 
                        a las necesidades
                        del negocio, crea y administra los usuarios de la base de datos y también qué datos utilizará cada usuario. 
                        Ningún usuario tiene que poder acceder a toda la base de datos sin el permiso del DBA. 
                    </p>
                    <p>
                        La capacidad de otorgar selectivamente el derecho a manipular y acceder a la información a través de 
                        <strong>privilegios</strong> es integral para garantizar la seguridad de la base de datos. Los DBA son usuarios con autoridad 
                        para especificar nuevos usuarios, especificar roles de usuarios y otorgar privilegios generales a los usuarios. 
                        También pueden revocar los privilegios y eliminar usuarios.
                    </p>
                    <p>
                        Si algún usuario necesita ayuda en cualquier momento, es una función del DBA ayudarlo. El DBA <strong>brinda soporte</strong> 
                        completo a los usuarios que son nuevos en la base de datos.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="btn-cont">
        <a href="#">
            <button class="btn-how wh bkg-dk-purple">QUIERO SER DBA</button>
        </a>
    </div>
    <footer>
        <h5 class="dk-purple">By María Noelia Avalos, Data Analyst - 2021</h5>
        <!-- <h5 class="dk-purple">ln:/m-noelia-avalos</h5> -->
    </footer>
</body>
</html>