<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <!-- FAVICON -->
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon.png">
    <!-- ESTILOS -->
    <link rel="stylesheet" href="../styles.css">
    <title>D. Engineer - Roles en Datos</title>
</head>
<body>
    <header class="bkg-dk-purple">
        <nav>
            <a class="nav-item" href="../index.html">Inicio</a>
            <a class="nav-item" href="data_eng.html">D. Engineer</a>
            <a class="nav-item" href="data_sc.html">D. Scientist</a>
            <a class="nav-item" href="data_an.html">D. Analyst</a>
            <a class="nav-item" href="data_arc.html">D. Architect</a>
            <a class="nav-item" href="data_adm.html">DB Admin</a>
            <a class="nav-item" href="data_bi.html">BI Consultant</a>
        </nav>
        <nav class="mobile-nav">
            <a class="nav-item" href="../index.html">
                <img class="nav-img" src="../img/home.svg" alt="">
            </a>
            <a class="nav-item" href="data_eng.html">
                <img class="nav-img" src="../img/tecnologia.svg" alt="">
            </a>
            <a class="nav-item" href="data_sc.html">
                <img class="nav-img" src="../img/cientifico-de-datos.svg" alt="">
            </a>
            <a class="nav-item" href="data_an.html">
                <img class="nav-img" src="../img/analista-de-datos.svg" alt="">
            </a>
            <a class="nav-item" href="data_arc.html">
                <img class="nav-img" src="../img/arquitecto-de-datos.svg" alt="">
            </a>
            <a class="nav-item" href="data_adm.html">
                <img class="nav-img" src="../img/base-de-datos.svg" alt="">
            </a>
            <a class="nav-item" href="data_bi.html">
                <img class="nav-img" src="../img/inteligencia.svg" alt="">
            </a>
        </nav>
    </header>
    <div class="container" id="page-title">
        <div class="title-container">
            <h1 class="role-title role-t wh">PYTHON PARA DATA ENGINEER</h1>
        </div>
        <h2 class="role-subtitle dk-purple">DATA ENGINEER</h2>
        <div class="btn-up-container" >
            <a class="btn-up-link" href="#page-title">
                <button class="btn-up bkg-dk-purple wh">
                    Arriba
                </button>
            </a>
        </div>
        <div class="container-why">
            <div class="why-card">
                <img class="why-ico" src="../img/python-tools-de.png" alt="">
            </div>
            <div class="why-text">
                <p class="why-p">
                    Algunos de los gestores de bases de datos usados:
                </p>
                <ul class="why-list">
                    <li class="why-list-item">SQL Server</li>
                    <li class="why-list-item">Oracle</li>
                    <li class="why-list-item">IBM DB2</li>
                    <li class="why-list-item">Maria DB</li>
                    <li class="why-list-item">Postgres</li>
                    <li class="why-list-item">MongoDB (No SQL)</li>
                    <li class="why-list-item">HBase (No SQL)</li>
                    <li class="why-list-item">Neo4j (No SQL)</li>
                    <li class="why-list-item">Oracle (No SQL)</li>
                </ul>
            </div>
        </div>
        <div class="cursors-container">
            <a class="link" href="why-dw.html">Atrás</a>
            <a class="link" href="how_data_eng.html">Fin</a>
        </div>
    </div>
    <footer>
        <h5 class="dk-purple">By María Noelia Avalos, Data Analyst - 2021</h5>
        <!-- <h5 class="dk-purple">ln:/m-noelia-avalos</h5> -->
    </footer>
    
</body>
</html>